<link href="/css/style.css" rel="stylesheet" type="text/css" />
<div>
  <form name="post-form" action="">
    <h6>Add new Post</h6>
    <label for="title">Title</label>
    <input type="text" name="title" />
    <label for="text">Your text</label>
    <textarea id="text" name="text" rows="5" cols="50"></textarea>
    <label for="anonymous">Anonymous</label>
    <input type="checkbox" name="anonymous" />
    <label for="author">Author name</label>
    <input type="text" name="author" />
    <input type="submit" value="Submit" />
  </form>
</div>
